# Service definition for Hyperledger fabric peer server of FCI
[Unit]
Description=hyperledger fabric-peer server - Peer for hyperledger fabric
Documentation=https://hyperledger-fabric.readthedocs.io/
Wants=network-online.target
After=network-online.target
[Service]
Type=simple
Restart=on-failure
StandardOutput=append/home/administrator/digital_asset_store/digital-asset-store-21033983-cpp/private-network-hlf/scripts/logs/peer1-sysout.log
StandardError=append:/home/administrator/digital_asset_store/digital-asset-store-21033983-cpp/private-network-hlf/scripts/logs/peer1-syserr.log
Environment=FABRIC_CFG_PATH=/home/administrator/digital_asset_store/digital-asset-store-21033983-cpp/private-network-hlf/docker/network/peerOrganizations/das.gps.com/peers/peer1.das.gps.com/conf-local
Environment=CORE_PEER_MSPCONFIGPATH=/home/administrator/digital_asset_store/digital-asset-store-21033983-cpp/private-network-hlf/docker/network/peerOrganizations/das.gps.com/peers/peer1.das.gps.com/msp
Environment=CORE_PEER_LOCALMSPID=GpsMSP
Environment=FABRIC_LOGGING_SPEC=INFO
Environment=CORE_PEER_TLS_ENABLED=true
Environment=CORE_PEER_PROFILE_ENABLED=true
Environment=FCI_PEER_TLS_DIR=/home/administrator/digital_asset_store/digital-asset-store-21033983-cpp/private-network-hlf/docker/network/peerOrganizations/das.gps.com/peers/peer1.das.gps.com/tls
Environment=CORE_PEER_TLS_CERT_FILE=/home/administrator/digital_asset_store/digital-asset-store-21033983-cpp/private-network-hlf/docker/network/peerOrganizations/das.gps.com/peers/peer1.das.gps.com/tls/signcerts/cert.pem
Environment=CORE_PEER_TLS_KEY_FILE=/home/administrator/digital_asset_store/digital-asset-store-21033983-cpp/private-network-hlf/docker/network/peerOrganizations/das.gps.com/peers/peer1.das.gps.com/tls/keystore/priv_key
Environment=CORE_PEER_TLS_ROOTCERT_FILE=/home/administrator/digital_asset_store/digital-asset-store-21033983-cpp/private-network-hlf/docker/network/peerOrganizations/das.gps.com/peers/peer1.das.gps.com/tls/tlscacerts/tls-localhost-7054-ca-gps.pem
Environment=CORE_PEER_ID=peer1.das.gps.com
Environment=CORE_PEER_ADDRESS=peer1.das.gps.com:7151
Environment=CORE_PEER_LISTENADDRESS=0.0.0.0:7151
Environment=CORE_PEER_CHAINCODEADDRESS=peer1.das.gps.com:7152
Environment=CORE_PEER_CHAINCODELISTENADDRESS=0.0.0.0:7152
Environment=CORE_PEER_GOSSIP_BOOTSTRAP=peer1.das.gps.com:7151
Environment=CORE_PEER_GOSSIP_EXTERNALENDPOINT=peer1.das.gps.com:7151

Environment=CORE_LEDGER_STATE_STATEDATABASE=CouchDB
Environment=CORE_LEDGER_STATE_COUCHDBCONFIG_COUCHDBADDRESS=127.0.0.1:17284
# The CORE_LEDGER_STATE_COUCHDBCONFIG_USERNAME and CORE_LEDGER_STATE_COUCHDBCONFIG_PASSWORD
# provide the credentials for ledger to connect to CouchDB.  The username and password must
# match the username and password set for the associated CouchDB.
Environment=CORE_LEDGER_STATE_COUCHDBCONFIG_USERNAME=admin
Environment=CORE_LEDGER_STATE_COUCHDBCONFIG_PASSWORD=adminpw
ExecStart=/home/administrator/go/src/github.com/hyperledger/fabric/release/linux-amd64/bin/peer node start
[Install]
WantedBy=multi-user.target